.card{
  background-image: url('./../Picture_(3).jpg');
}
.form{
   color: black;
   background-color: aliceblue;
}
.btn-container{
  position: relative;
  height: 5rem;
}
.bt{
  position: absolute;
  left : 50%;
  top : 50%;
  transform: translate(-50%,-50%);
  margin-bottom: 5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Monterat', sans-serif;
}